body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffcdcd5a;
    padding: 20px;
  }
  
  /* .container {
    display: inline-block;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */
  
  .label {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    color: rgb(248, 173, 186);
  }
  
  .image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .button {
    padding: 20px 40px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button.yes {
    background-color: rgb(248, 173, 186);
  }
  
  .button.yes:hover {
    background-color: rgba(255, 192, 203, 0.698);
  }
  
  .button.no {
    background-color: rgb(248, 173, 186);
  }
  
  .button.no:hover {
    background-color: rgba(255, 192, 203, 0.698);
  }
  
  .button.bigger {
    transform: scale(1.5);
  }
  